/* SLIDER */

.slider {
    margin-top: 4.5em;
    margin-bottom: 2em;

    & ul {    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .75em;
        align-items: center;

        & li {
            list-style: none;

            & a {
                height: .1em;
                
                display: block;

                background-color: var(--white);
                opacity: .4;

                &.active-slider {
                    opacity: 1; 
                }
            }
        }
    }
}