{% comment %} FILTER VIEW {% endcomment %}
{% layout "layouts/base.liquid" %}
{% block title %}
    <title>Nutrify - Filter</title>
{% endblock %}
{% block content %}
    <body class="body-filter">
        {% render "components/search-bar.liquid" %}
        <header class="header-filter outer-padding-horizontal">
            <h2 class="text-md text-purple">Filter</h2>
            <nav>
                <div>
                    <button class="button button-light text-xs" id="filter-button-category">
                        Category
                        <div>
                            <svg width="8" height="14" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 1L2 8L9 15" stroke="#322338" stroke-width="1"/>
                            </svg>
                        </div>
                    </button>
                    <ul id="filter-category">
                        <li>
                            <button class="button button-unselected text-xs">Products</button>
                        </li>
                        <li>
                            <button class="button button-unselected text-xs">Meals</button>
                        </li>
                        <li>
                            <button class="button button-unselected text-xs">Drinks</button>
                        </li>
                    </ul>
                </div>
                <div>
                    <button class="button button-light text-xs" id="filter-button-rich-in">
                        Rich in
                        <div>
                            <svg width="8" height="14" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 1L2 8L9 15" stroke="#322338" stroke-width="1"/>
                            </svg>                    
                        </div>
                    </button>
                    <ul id="filter-rich-in">
                        <li>
                            <button class="button button-unselected text-xs">Calories</button>
                        </li>
                        <li>
                            <button class="button button-unselected text-xs">Protein</button>
                        </li>
                        <li>
                            <button class="button button-unselected text-xs">Healthy fats</button>
                        </li>
                        <li>
                            <button class="button button-unselected text-xs">Fiber</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="main-filter outer-padding-horizontal">
            <ul class="grid text-xs">
            </ul>
        </main>
        {% render "components/menu.liquid", slug: slug %}
    </body>
{% endblock %}