{% comment %} HOME VIEW {% endcomment %}
{% layout "layouts/base.liquid" %}
{% block title %}
    <title>Nutrify - Home</title>
{% endblock %}
{% block content %}
    <body class="body-home">
        {% render "components/search-bar.liquid" %}
        <header class="header-home outer-padding-horizontal">
            <h1 class="text-md text-purple">Here is your daily inspiration</h1>
            <h2 class="text-sm text-purple">Goodmorning,</h2>
        </header>
        <main class="main-home outer-padding-horizontal">
            <ul class="grid text-xs">
                {% for item in ingredientsData %}
                    <li>
                        <a href="/{{ item.slug }}">
                            <div class="label label-orange">{{ item.food.label }}</div>
                            <img src="{{ item.customImage }}" alt="{{ item.food.label }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </main>
        {% render "components/menu.liquid", slug: slug %}
    </body>
{% endblock %}