{% comment %} BASE {% endcomment %}
{% layout "layouts/base.liquid" %}

{% comment %} TITLE {% endcomment %}
{% block title %}
    <title>Nutrify - Home</title>
{% endblock %}

{% comment %} CONTENT {% endcomment %}
{% block content %}
    <body class="body-home">
        {% render "components/search-bar.liquid" %}
        <header class="header-home outer-padding-horizontal">
            <h1 class="text-md text-purple">Here is your daily inspiration</h1>
            <h2 class="text-sm text-purple">Goodmorning,</h2>
        </header>
        <main class="main-home outer-padding-horizontal"">
            <ul class="grid text-xs">
                {% assign maxIngredients = 4 %}
                {% for ingredientItem in ingredientsData %}
                    {% if forloop.index <= maxIngredients %}
                        <li>
                            <a href="/detail">
                                <div class="label label-orange">{{ ingredientItem.food.label }}</div>
                                <img src="{{ ingredientItem.customImage }}" alt="{{ ingredientItem.food.label }}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </main>
        {% render "components/menu.liquid", slug: slug %}
    </body>
{% endblock %}