{% comment %} BASE {% endcomment %}
{% layout "layouts/base.liquid" %}

{% comment %} TITLE {% endcomment %}
{% block title %}
    <title>Nutrify - Introduction 2</title>
{% endblock %}

{% comment %} CONTENT {% endcomment %}
{% block content %}
    <body class="body-introduction" style="background-color:var(--red);">
        {% render "components/slider.liquid", slug: slug %}
        <header class="outer-padding-horizontal">
            <h1 class="text-lg text-white">Some tips before you start,</h1>
        </header>
        <main class="main-introduction">
            <ul class="text-sm text-white outer-padding-horizontal">
                <li>Stick to regular eating times</li>
                <li>Increase portion sizes and consume calorie-rich snacks in between</li>
                <li>Consider incorporating liquid calories such as protein shakes</li>
                <li>Calculate and track your daily calories with an app</li>
                <li>Set a goal each week or month and track your progress</li>
            </ul>
            <div>
                <img src="./images/food-illustration.svg" alt="food-illustration">
            </div>
        </main>
    </body>
{% endblock %}