{% comment %} INTRODUCTION 3 VIEW {% endcomment %}
{% layout "layouts/base.liquid" %}
{% block title %}
    <title>Nutrify - Introduction 3</title>
{% endblock %}
{% block content %}
    <body class="body-introduction" style="background-color:var(--green);">
        {% render "components/slider.liquid", slug: slug %}
        <header class="outer-padding-horizontal">
            <h1 class="text-lg text-white">One last thing to keep in mind,</h1>
        </header>
        <main class="main-introduction">
            <div class="outer-padding-horizontal">
                <p class="text-sm text-white">
                    While Nutrify offers inspiration about gaining weight, we acknowledge it does not address every aspect of it. If you have concerns about your weight, you should always contact a doctor or dietician. 
                </p>
                <a class="button button-light text-xs" href="/home">Go to app</a>
            </div>
            <div>
                <img src="./images/food-illustration.svg" alt="food-illustration">
            </div>
        </main>
    </body>
{% endblock %}