{% comment %} INTRODUCTION 1 VIEW {% endcomment %}
{% layout "layouts/base.liquid" %}
{% block title %}
    <title>Nutrify - Introduction 1</title>
{% endblock %}
{% block content %}
    <body class="body-introduction" style="background-color:var(--orange);">
        {% render "components/slider.liquid", slug: slug %}
        <header class="outer-padding-horizontal">
            <h1 class="text-lg text-white">Gaining weight can be difficult,</h1>
        </header>
        <main class="main-introduction">
            <p class="text-sm text-white outer-padding-horizontal">
                Especially when it doesn't come naturally. <br><br>
                Factors like a fast metabolism, mental health issues, or intense physical activity can make it even more difficult. <br><br>
                We’re here to support you by providing daily inspiration about products, meals and drinks that are specifically designed to gain weight.
            </p>
            <div>
                <img src="./images/food-illustration.svg" alt="food-illustration">
            </div>
        </main>
    </body>
{% endblock %}