{% comment %} SAVED VIEW {% endcomment %}
{% layout "layouts/base.liquid" %}
{% block title %}
    <title>Nutrify - Saved</title>
{% endblock %}
{% block content %}
    <body class="body-saved">
        {% render "components/search-bar.liquid" %}
        <header class="header-saved outer-padding-horizontal">
            <h2 class="text-md text-purple">Saved</h2>
            <div>
                <button class="button button-light" id="delete-button">
                    <svg width="16" height="16" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.625 8.55566V14.2223" stroke="#322338" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.375 8.55566V14.2223" stroke="#322338" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 4.77783H16" stroke="#322338" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.875 4.77783H8.5H14.125V15.1667C14.125 16.7316 12.8658 18.0001 11.3125 18.0001H5.6875C4.1342 18.0001 2.875 16.7316 2.875 15.1667V4.77783Z" stroke="#322338" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.6875 2.88889C5.6875 1.84568 6.52697 1 7.5625 1H9.4375C10.4731 1 11.3125 1.84568 11.3125 2.88889V4.77778H5.6875V2.88889Z" stroke="#322338" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="button button-light text-xs" id="select-all-button">Select all</button>
            </div>
        </header>
        <main class="main-saved outer-padding-horizontal">
            <ul class="grid text-xs">
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </main>
        {% render "components/menu.liquid", slug: slug %}
    </body>
{% endblock %}