{% comment %} SEARCH RESULTS VIEW {% endcomment %}
{% layout "layouts/base.liquid" %}
{% block title %}
    <title>Nutrify - Search Results</title>
{% endblock %}
{% block content %}
    <body>
        {% render "components/search-bar.liquid" %}
        <main class="main-search-results outer-padding-horizontal">
            <h2 class="text-md text-purple">Results for: {{ searchTerm }}</h2>
            <ul>
                {% for item in autocompleteData %}
                    <li>
                        <a class="text-sm text-purple" href="/{{ item.slug }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </main>
        {% render "components/menu.liquid", slug: slug %}
    </body>
{% endblock %}

