/* ******* */
/* FILTER */
/* ***** */

.body-filter {
    height: calc(100dvh - 4.5em);
}

.header-filter {
    & nav {
        display: flex;

        margin-top: 2.5em;

        & > div {
            & > button {
                display: flex;

                margin: 0 1em 1em 0;

                & div {
                    margin-left: .75em;

                    & svg {
                        rotate: -90deg;
                    }
                }
            }

            & ul {
                display: none;

                padding: .75em;

                background-color: var(--purple);

                border-radius: var(--border-radius-1);

                & li {
                    list-style: none;

                    & button {
                        width: 100%;

                        border-radius: var(--border-radius-2);
                    }
                }

                & li:not(:last-child) {
                    margin-bottom: .75em;
                }
            }
        }
    }
}

#filter-category.open, #filter-rich-in.open {
    display: block;
}