/* ***** */
/* HOME */
/* *** */

.body-home {
    height: fit-content;
}

.header-home {
    display: flex;
    flex-direction: column-reverse;

    & h2 {
        margin-bottom: .75em;
    }
}

.main-home {
    margin: 2.5em 0 8em 0;
}