/* ****** */
/* SAVED */
/* **** */

.body-saved {
    height: calc(100dvh - 4.5em);
}

.header-saved {
    & > div {
        margin-top: 2.5em;

        & button {
            aspect-ratio: 1/1;
            height: 3em;
        }
    }
}