{% comment %} SLIDER COMPONENT {% endcomment %}
<nav class="slider outer-padding-horizontal">
    <ul>
        <li>
            <a href="/introduction-1" {% if slug == "introduction-1" %} class="active-slider"{% endif %}></a>
        </li>
        <li>
            <a href="/introduction-2" {% if slug == "introduction-2" %} class="active-slider"{% endif %}></a>
        </li>
        <li>
            <a href="/introduction-3" {% if slug == "introduction-3" %} class="active-slider"{% endif %}></a>
        </li>
    </ul>
</nav>